body{
    background-image: url('../img/fundo.jpg');
    background-size: 100vw auto;
    margin: 0;
    padding: 0;
}

#img-1 {
    border: 6px solid #6897ED;
}

#img-2 {
    border: 6px solid #BEED51;
}

#img-3 {
    border: 6px solid #ED5339;
}


footer, footer p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 20px;
}

footer img{
    margin-top: 20px;
}

footer{
    padding: 0px;
}

.btn.btn-primary{
    background-color: #11007b;
    border-color: #000;
    font-weight: bold;
}

#logo{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 76vw;
    top: 16px;
}

.titulo h2{
    display: flex;
    color: #ed5339;
    font-size: 3rem;
    margin-left: 20px;
    margin-bottom: 0px;
    font-weight: 500;
    margin-top: 10px;
}
  
.titulo p{
    margin-left: 24px;
    display: flex;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #11007b;
}

small{
    margin:2px;
    color: #000;
    font-weight: 500;
}

.texto p{
    color: #11007b;
    font-weight: 700;
    margin-bottom: 10px;
}

.link {
    text-decoration: none; 
    color: white; 
    font-weight: 500;
}  

button.botao_um{
    color: aliceblue;
    width: 305px;
    height: 66px;
    flex-shrink: 0;
    background: #6897ED;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 30px;
    margin-bottom: 1vh;
}
  
  
button.botao_dois{
    color: aliceblue;
    width: 305px;
    height: 66px;
    flex-shrink: 0;
    background: #BEED51;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 30px;
    margin-bottom: 1vh;
}
  
  
button.botao_tres{
    color: aliceblue;
    width: 305px;
    height: 66px;
    flex-shrink: 0;
    background: #ED5339;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border-radius: 30px;
    margin-bottom: 1vh;
}

.botoes_denuncia {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.botoes_denuncia button {
    margin-bottom: 18px; 
    width: 80%; 
    max-width: 300px; 
    height: 70px; 
    font-size: 24px; 
}

@media (min-width: 769px) {
    .botoes_denuncia {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .botoes_denuncia button {
      margin-bottom: 0; 
    }

    .botao_um{
        margin-left: 40px;
    }

    .botao_tres{
        margin-right: 40px;
    }

    #logo{
        left: 90vw;
    }
  }

.texto{
    font-size: 1.2rem;   
    margin-left: 15px;  
    margin-right: 15px;
}

 
.linkmais{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.containervideo {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li::marker{
    display: none;
}

.carousel-inner .carousel-item iframe {
    width: 80vw; 
    height: calc(80vw * 9 / 16);
    max-height: 80vh;
    margin: 0 auto; 
}

.card-img-top{
    border: 15px solid #fff;
}

.card{
    margin: 15px;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%; 
    position: relative;
    height: 0;
    margin-bottom: 10px;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.centralize-imagem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    margin-bottom: 20px;
}

.centralize-imagem img {
    max-width: 90%; 
    height: auto; 
}